.devicon-npm-original-wordmark.colored {
  color: #C4C029;
}

.devicon-handlebars-plain-wordmark.colored,
.devicon-handlebars-plain.colored{
  color: #C4C029;
}

.devicon-linkedin-plain-wordmark.colored,
.devicon-linkedin-plain.colored {
  color: #C4C029;
}

.devicon-webstorm-plain-wordmark.colored,
.devicon-webstorm-plain.colored {
  color: #C4C029;
}

.devicon-webpack-plain-wordmark.colored,
.devicon-webpack-plain.colored {
  color: #C4C029;
}

.devicon-phpstorm-plain-wordmark.colored {
	color: #C4C029;
}
.devicon-phpstorm-plain.colored {
	color: #C4C029;
}

.devicon-github-original-wordmark.colored,
.devicon-github-plain-wordmark.colored {
	color: #84C49A;
}
.devicon-github-original.colored,
.devicon-github-plain.colored {
	color: #C4C029;
}

.devicon-amazonwebservices-plain-wordmark.colored,
.devicon-amazonwebservices-original.colored,
.devicon-amazonwebservices-plain.colored {
	color: #C4C029;
}

.devicon-bootstrap-plain-wordmark.colored,
.devicon-bootstrap-plain.colored {
	color: #C4C029;
}

.devicon-css3-plain-wordmark.colored,
.devicon-css3-plain.colored {
	color: #C4C029;
}

.devicon-django-line.colored,
.devicon-django-line-wordmark.colored,
.devicon-django-plain.colored,
.devicon-django-plain-wordmark.colored {
	color: #84C49A;
}

.devicon-google-original-wordmark.colored,
.devicon-google-plain-wordmark.colored {
	color: #C4C029;
}
.devicon-google-original.colored,
.devicon-google-plain.colored {
	color: #C4C029;
}

.devicon-heroku-line-wordmark.colored,
.devicon-heroku-line.colored,
.devicon-heroku-plain-wordmark.colored,
.devicon-heroku-plain.colored,
.devicon-heroku-original-wordmark.colored,
.devicon-heroku-original.colored {
	color: #C4C029;
}
.devicon-html5-plain-wordmark.colored,
.devicon-html5-plain.colored {
	color: #C4C029;
}

.devicon-illustrator-line.colored,
.devicon-illustrator-plain.colored {
	color: #84C49A;
}

.devicon-javascript-plain.colored {
	color: #C4C029;
}

.devicon-jquery-plain-wordmark.colored,
.devicon-jquery-plain.colored {
	color: #C4C029;
}

.devicon-linux-plain.colored {
	color: #C4C029;
}

.devicon-mysql-plain.colored,
.devicon-mysql-plain-wordmark.colored {
	color: #C4C029;
}

.devicon-nodejs-plain.colored,
.devicon-nodejs-plain-wordmark.colored {
	color: #C4C029;
}

.devicon-photoshop-line.colored,
.devicon-photoshop-plain.colored {
	color: #C4C029;
}
.devicon-php-plain.colored {
	color: #C4C029;
}
.devicon-postgresql-plain.colored,
.devicon-postgresql-plain-wordmark.colored {
	color: #84C49A;
}
.devicon-python-plain-wordmark.colored,
.devicon-python-plain.colored {
	color: #84C49A;
}

.devicon-react-plain-wordmark.colored,
.devicon-react-plain.colored,
.devicon-react-original-wordmark.colored,
.devicon-react-original.colored {
	color: #84C49A;
}

.devicon-sass-original.colored,
.devicon-sass-plain.colored,
.devicon-sass-plain-wordmark.colored {
	color: #84C49A;
}

.devicon-twitter-original.colored,
.devicon-twitter-plain.colored {
	color: #C4C029;
}

.devicon-wordpress-plain-wordmark.colored,
.devicon-wordpress-plain.colored {
	color: #C4C029;
}
